.price{
    margin-top: 66px;

    &__wrapper{
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;        
    }

    &__collumn{
        width: 366px;
    }

    &__item{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(22px, auto));
        justify-content: space-between;
        align-content: space-between;
        margin-bottom: 15px;
    }
    
    &__desc{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__price{
        text-align: right;
    }

    &_circle{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: $main-color;
        margin-right: 20px;
    }

    &__desc{
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        padding-left: 35px;
    }
}